body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overflow: scroll;
	}
		
header {
	background-color: #0081E0 ;
	color: #fff;
	padding: 20px;
	text-align: center;
	}
		
header h1 {
		margin: 0;
		font-size: 32px;
	}
		
nav {
		background-color: #0081E0 ;
		padding: 10px;
		text-align: center;
	}
		
nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
		
nav ul li {
		display: inline-block;
		margin: 0 10px;
	}
	
nav ul li a:hover{
		transition-duration:500ms;
		background-color:grey
	}
		
nav ul li a {
		padding:10px 15px;
		color: #fff;
		text-decoration: none;
		font-size: 18px;
	}
		
main {
		margin: 20px;
		text-align: center;
	}
		
.card {
		display: inline-block;
		width: 445px;
		height: 520px;
		margin: 10px;
		background-color: #f1f1f1;
		border-radius: 10px;
		overflow: hidden;
	}
	
.card:hover {
		transition-duration:500ms;
		background-color:grey;
		}
		
.card img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
		
.card h3 {
		font-size: 24px;
		margin: 10px;
	}
		
.card p {
		font-size: 16px;
		margin: 10px;
	}	
	
footer {
		background-color: #0081E0 ;
		color: #fff;
		padding: 20px;
		margin-top: 70px;
		text-align: center;
		left: 0;
		bottom: 0;
		width: 100%;
	}
	
.text-window {
	border: 2px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
	background-color: #f1f1f1;
}

.container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

.content {
		flex: 1;
		margin: 0 20px;
	}

.content img {
		max-width: 100%;
		height: auto;
	}
	
h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

#electric-train-container,
#diesel-train-container,
#steam-train-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.train-thumbnail {
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.train-thumbnail img {
  max-width: 100%;
  height: auto;
}

.train-description {
  margin-top: 10px;
}
.train-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
  }
  
  .picture {
	text-align: center;
  }
  
  .picture img {
	max-width: 100%;
	height: auto;
  }
  
  .description {
	text-align: center;
  }
  
  .specs h3 {
	font-size: 18px;
  }
  
  .specs ul {
	list-style: none;
	padding: 0;
  }
  
  .specs li {
	margin-bottom: 10px;
  }
  