body {
	background-color: #85C1E9;
	font-family: Arial, sans-serif;
	color: #333;
}

img {
	border-style: solid;
}

nav {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	font-family: Arial, sans-serif;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #333;
}

nav ul li a:hover {
	background-color: grey;
}

br {
	display: none;
}

